<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/semantic.min.js"></script>
</head>
<body>
<div class="ui container">
    <h1 class="ui header">로그인 페이지</h1>
    <form class="ui form" method="post" action="/v1/signin">
        <div class="fields">
            <div class="field">
                <label for="usermail">email</label>
                <input id="usermail" name="usermail" type="text" placeholder="a@b.com"/>
            </div>
            <div class="field">
                <label for="userpass">password</label>
                <input id="userpass" name="userpass" type="password"/>
            </div>
        </div>
        <button class="ui button" type="submit">Sign In!</button>
    </form>
</div>
</body>
</html>